@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 98%;
    --foreground: 222 47% 11%;
    --card: 210 100% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 210 100% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 39% 55.1%;
    --accent: 260 83% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --destructive-muted: 0 80% 95%;
    --destructive-muted-foreground: 0 72% 35%;
    --success: 152 80% 95%;
    --success-foreground: 152 83% 25%;
    --success-strong: 152 83% 35%;
    --border: 210 40% 90%;
    --input: 210 40% 92%;
    --ring: 221 83% 53%;
    --chart-1: 152 83% 40%;
    --chart-2: 0 72% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 221 83% 63%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 15%;
    --sidebar-ring: 221 83% 63%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 83% 63%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 28% 65%;
    --accent: 260 83% 73%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 0 0% 98%;
    --destructive-muted: 0 63% 15%;
    --destructive-muted-foreground: 0 70% 80%;
    --success: 152 83% 15%;
    --success-foreground: 152 70% 80%;
    --success-strong: 152 70% 55%;
    --border: 217 33% 22%;
    --input: 217 33% 17%;
    --ring: 221 83% 63%;
    --chart-1: 152 70% 45%;
    --chart-2: 0 70% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 84% 7%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 221 83% 63%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 84% 12%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 84% 10%;
    --sidebar-ring: 221 83% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom right, hsl(210 100% 99%), hsl(220 100% 98%));
  }
  .dark body {
    background-image: linear-gradient(to bottom right, hsl(222, 84%, 6%), hsl(222, 84%, 4%));
  }
}
